<!-- article item component template -->
<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">{{$ctrl.article.title}}</h4>
    </div>
    <div class="panel-body">
      {{$ctrl.article.content}}
    </div>
    <div class="panel-footer">
      <button ui-sref="app.articlesShow({ id: $ctrl.article.id })" class="btn btn-primary btn-sm">Show</button>
      <button ng-if="$ctrl.article.user_id === $ctrl.currentUserId" ng-click="$ctrl.deleteItem($ctrl.article.id)" class="btn btn-primary btn-sm pull-right">Delete</button>
      <button ng-if="$ctrl.article.user_id === $ctrl.currentUserId" ui-sref="app.articlesEdit({ id: $ctrl.article.id })" class="btn btn-primary btn-sm pull-right">Edit</button>      
    </div>
  </div>
</div>