<!-- article item component template -->
<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">{{$ctrl.article.title}}</h4>
    </div>
    <div class="panel-body">
      <div ng-bind-html="$ctrl.article.content | trustHTML" class="trix-wrapper truncated"></div>
      <div class="text-right posted-by">Posted by {{$ctrl.article.user.profile.nickname ? $ctrl.article.user.profile.nickname : 
        $ctrl.article.user.profile.firstname ? $ctrl.article.user.profile.lastname ? $ctrl.article.user.profile.firstname + ' ' + $ctrl.article.user.profile.lastname : $ctrl.article.user.profile.firstname : 
        $ctrl.article.user.profile.lastname ? $ctrl.article.user.profile.lastname : $ctrl.article.user.email}}, {{$ctrl.article.updated_at | date: 'MMM d, y h:mm a'}}</div>      
    </div>
    <div class="panel-footer">
      <button ui-sref="app.articlesShow({ id: $ctrl.article.id })" class="btn btn-primary btn-sm">More</button>
      <span>{{$ctrl.article.num_of_comments}} comments</span>
      <button ng-if="$ctrl.article.user_id === $ctrl.currentUserId" ng-click="$ctrl.deleteItem($ctrl.article.id)" class="btn btn-primary btn-sm pull-right">Delete</button>
      <button ng-if="$ctrl.article.user_id === $ctrl.currentUserId" ui-sref="app.articlesEdit({ id: $ctrl.article.id })" class="btn btn-primary btn-sm pull-right">Edit</button>      
    </div>
  </div>
</div>