<div class="container">
  <div class="body-content">
    <h1>{{profileCtrl.header}}</h1>
    <div class="panel panel-primary">

      <div class="panel-body">
        <form id="profileform" class="form-horizontal" name="profileform" ng-submit="profileCtrl.submitProfile()" novalidate>
          <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">Nickname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Choose your nickname" ng-model="profileCtrl.profile.nickname">
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" ng-model="profileCtrl.profile.firstname">
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" ng-model="profileCtrl.profile.lastname">
            </div>
          </div>

          <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="status" name="status" rows="5" placeholder="Enter your status message" ng-model="profileCtrl.profile.status"></textarea>
            </div>
          </div>
        </form>  
      </div> <!-- panel-body -->

      <div class="panel-footer">
        <button ui-sref="app.profile" class="btn btn-primary btn-sm">Cancel</button>
        <button type="submit" form="profileform" class="btn btn-primary btn-sm pull-right">Submit</button>
      </div>

    </div> <!-- panel -->
  </div> <!-- body-content -->
</div> <!-- container -->