<div class="container">
  
  <div class="body-content">
    <h1>{{::artCtrl.article.title}}</h1>
    <div class="panel panel-primary">
      <div class="panel-body">
        {{::artCtrl.article.content}}
      </div>

      <div class="panel-footer">
        <button ui-sref="app.articles" class="btn btn-primary btn-sm">Back</button>
        <button ng-if="artCtrl.article.user_id === artCtrl.current_user_id" ui-sref="app.articlesEdit({ id: artCtrl.article.id })" class="btn btn-primary btn-sm">Edit</button>
        <button ng-if="artCtrl.article.user_id === artCtrl.current_user_id" ng-click="artCtrl.deleteItem(artCtrl.article.id)" class="btn btn-primary btn-sm">Delete</button>        
      </div>    
    </div>
  </div>


</div>